<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/a0SWKEBaTDWQZ8ijxskI_bg.jpg) no-repeat center; background-size: cover;" class="has-header">
        <div>
            <br>
            <p align="center">
                <font size="6" color="white">
                    <b><u>About Atos</u></b>
                </font>
            </p>
            <br>
        </div>
        <div>
            <p align="justify" style="font-family: Lucida Sans Unicode;font-size: 12pt">
                <font color="white">
                    
                    Atos SE (Societas Europaea) is a leader in digital services with pro forma annual revenue of circa € 12 billion and circa 100,000 employees in 72 countries. Serving a global client base, the Group provides Consulting &amp; Systems Integration services,
                    Managed Services &amp; BPO, Cloud operations, Big Data &amp; Cyber-security solutions, as well as transactional services through Worldline, the European leader in the payments and transactional services industry. With its deep technology
                    expertise and industry knowledge, the Group works with clients across different business sectors: Defense, Financial Services, Health, Manufacturing, Media, Utilities, Public sector, Retail, Telecommunications, and Transportation.
                    <br>
                    <br>Atos is focused on business technology that powers progress and helps organizations to create their firm of the future. The Group is the Worldwide Information Technology Partner for the Olympic &amp; Paralympic Games and is listed
                    on the Euronext Paris market. Atos operates under the brands Atos, Atos Consulting, Atos Worldgrid, Bull, Canopy, Unify and Worldline.</font>
            </p>
        </div>
    </ion-content>
</ion-view>