<ion-view title="Contact Us">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/wL55YMVaQIK6W9oDlDeu_bg.jpg) no-repeat center; background-size: cover" class="has-header">
        <div class="atosNormalText">
        	<p>Would you like to know more about the services and solutions of Atos UK &amp; Ireland, or would you like to post a suggestion, remark or question related to the business of our company. See below for specific contacts or use our <a href="http://uk.atos.net/en-uk/home/contact-us/contact-form.html" target="_blank">contact form</a><br>
			</p>
			<h3>Sales &amp; Marketing</h3>
			<p>Please see our <a title="Atos UK &amp; Ireland - Industry Focus" href="http://uk.atos.net/en-uk/home/your-business.html" target="_blank">Industry Focus </a>&amp;&nbsp; <a title="Atos UK &amp; Ireland - Solutions &amp; Services" href="http://uk.atos.net/en-uk/home/we-do.html" target="_blank">services and solution </a>areas for specific information and contacts or contact us directly via <a href="mailto:ukwebenquiries@atos.net?subject=For the attention of Sales and Marketing" title="Sales &amp; Marketing Email" alt="Sales &amp; Marketing Email">Sales &amp; Marketing</a><br>
			</p>
			<h3>Press &amp; Newsroom</h3>
			<!--<p>Please contact our <a href="/en-uk/home/we-are/news/contacts.html">PR Team</a><br>-->
				<h4>Tessa David - UK PR Manager</h4>
				<p>4 Triton Square</p>
				<p>Regent's Place</p>
				<p>London</p>
				<p>NW1 3HG</p>
				<p>Tel: <span style="white-space: nowrap;">+44 (0)773 3310353</span></p>
				<p>Email: <a title="Tessa David" alt="Tessa David" href="mailto:tessa.david@atos.net">tessa.david@atos.net</a></p>
			</p>
			<h3>Careers and Jobs</h3>
			<p>Please use&nbsp;the&nbsp;<a href="http://uk.atos.net/en-uk/home/careers.html" target="_blank" title="Atos UK &amp; Ireland Careers Page">Atos UK &amp; Ireland Careers site</a> for information/enquiries on job openings etc.</p>
			<h3>Graduates and Interns<br>
			</h3>
			<p>Please use&nbsp;the&nbsp;<a href="http://uk.atos.net/en-uk/home/careers/graduates.html" target="_blank" title="Atos Graduates site">Atos Graduates site</a> for information/enquiries on Graduate jobs, Internships &amp; placements at Atos UK &amp; Ireland<br>
			</p>
			<h3>Website Feedback</h3>
			<p>Please contact our <a href="mailto:ukwebenquiries@atos.net?subject=For the attention of Web Team" title="Web Team Email" alt="Web Team Email">Web Team</a><br>
			</p>
			<h3>Atos UK &amp; Ireland Head Office</h3>
			<p>Atos<br>
			4 Triton Square<br>
			Regent's Place<br>
			London<br>
			NW1 3HG<br>
			<br>
			</p>
			<p>Tel. +44 (0)207 830 4444<br>
			Freephone. +44 (0)800 783 3040<br>
			Fax. +44 (0)207 830 4445<br>
			</p>
			<p>&nbsp;<br>
			<b>See more information about our <a alt="Atos UK Office Locations" target="_blank" title="Atos UK Office Locations" href="http://uk.atos.net/en-uk/home/contact-us/locations.html">offices in UK &amp; Ireland</a></b><br>
			</p>
        </div>
    </ion-content>
</ion-view>