<ion-view title="Login" ng-init="init()">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/loginBG.jpg) no-repeat center; background-size: cover;" scroll="true" class="has-header">
        <div style="text-align:center; height:40%;">
            <img src="img/MSPxYUI3QE28CEucZxb6_imageedit_2_5998109843.gif" width="auto" height="100%">
        </div>





        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <form class="list" ng-submit="login()">
            <ion-list>
                <label class="item item-input" name="email">
                    <input type="email" placeholder="Email" ng-model="form.email">
                </label>
                <label class="item item-input" name="password">
                    <input type="password" placeholder="Password" ng-model="form.password">
                </label>
                <span class="item" ng-show="loginErrorShown" style="text-align:center; color:#CC3333;" ng-bind="loginError"></span>
            </ion-list>
            <button id="login-button4" style="border-radius:50px;" class="button button-stable  button-block icon-left ion-log-in">LOG IN</button>
            <a ui-sref="signUp" id="login-button5" style="border-radius:50px;" class="button button-stable  button-block icon-left ion-android-checkmark-circle">SIGN UP</a>
            <a ui-sref="menu.home" id="login-button6" style="border-radius:50px;" class="button button-positive  button-block">SKIP</a>
        </form>
    </ion-content>
</ion-view>