<ion-view title="Privacy">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/qohxDyTNQPSuIGKm6V7i_bg.jpg) no-repeat center; background-size: cover" class="has-header">
        <div>
            <br>
        </div>
        <div class="atosNormalText">
            <p>You are currently using the Atos mobile app.<br>
            &nbsp;<br>
            You can decide to share Personal Data with Atos, when subscribing to our newsletter or when registering for Atos’ Premium Services. The Personal Data we may collect as a result of such subscription will be processed only by Atos for the sole purpose of ensuring you are delivered with the appropriate services. None of these data will be shared with third parties.<br>
            </p>
            <p><br>
            Because data protection and security matters, the Atos website is hosted in the European Union in order to guarantee an appropriate level of protection to all data that are collected and processed. Application support may be made from Atos India. The transfers resulting from such support would be framed with the EU model clauses to ensure that the Personal data transferred to India benefit from the same level of protection as if they had stayed in the EU.<br>
            &nbsp;<br>
            Of course, you have the right to request access, amendment or erasure of your Personal Data. To exercise this right, you can contact the Group Data Protection Office at&nbsp;<a href="mailto:dpo-global@atos.net">dpo-global@atos.net</a>.<br>
            </p>
            <p>This Privacy Notice was published on 3 July 2014 and may be amended from time to time. We invite you to consult this page regularly.</p>
            <h3>Atos Binding Corporate Rules</h3>
            <p>&nbsp;</p>
            <p>Atos is the first IT company to have obtained approval of its <a href="/content/dam/global/documents/atos-binding-corporate-rules.pdf" target="_blank">Binding Corporate Rules (BCRs)</a> by European data protection authorities both as a data controller and a processor. This approval evidences Atos’ commitment to the protection not only of its own data but also that of its clients: all Atos entities provide a very strong level of protection to personal data, regardless of their location in the world. The BCR are a commitment whereby the companies of the ATOS Group undertake to process personal data in accordance with a stringent level of protection to personal data it processes for its own needs (employee data, etc.) but also for the needs of its customers, therefore allowing the free flow of personal data between the companies of the ATOS Group.&nbsp;</p>
            <!--<h3>Cookies</h3>
            <p>&nbsp;</p>
            <p>Atos takes users’ privacy very seriously and is committed to comply with the EU Directive on privacy in the electronic communications. For this purpose we have developed the following notice which intends to give you all the keys to manage the cookies we collect while you visit our website.<br>
            <b></b></p>
            <p><b>&nbsp;</b></p>
            <p><b>What is a cookie?</b><br>
            Cookies have nothing to do with nice cakes! Indeed, cookies are small files which are downloaded on to a device when the user accesses to certain websites. Cookies allow a website to recognize users, to understand the users’ navigation on different websites.<br>
            <br>
            In practice, the website you visit sends information to the browser which then creates a text file. Every time the user goes back to the same website, the browser retrieves and sends this file to the website's server.<br>
            <br>
            <b>Atos Cookies</b><br>
            Atos intends to ensure that you enjoy your experience on our website. For this reason, when visiting our Atos website, cookies are installed on the computer.<br>
            <br>
            When surfing on Atos website(s), data logs of your surfing activity may be collected with the purpose of understanding aggregate usage of features and pages. For this very purpose we use Google Analytics and Eloqua.<br>
            Google Analytics enables Atos to view how you interact with website content. Please note that in order to avoid the collection of your Personal Data by Google, we have set up the tool in a manner which prevents the collection of IP addresses. Neither Atos nor Google are able to identify you and your online activity. Atos also uses 3rd party persistent cookies from Eloqua to collect surfing activity seamlessly without effecting the visitors' experience.<br>
            <br>
            </p>
            <p><b>How long does Atos keep the cookies?</b><br>
            Cookies remain on your computer for no longer than 24 months and you can decide to delete all cookies anytime when going into your browser settings.<br>
            <br>
            <b>Cookies settings</b><br>
            If you don’t agree with the use of such cookies, you can set up your browser to limit or exclude their use. Your browser may provide you with information and control over cookies. You can set your browser to alert you when a cookie is being used, and accept or reject the cookie. You can also set your browser to refuse all cookies or accept only cookies returned to the originating servers. You can generally disable the cookie feature on your browser without affecting their ability to use the Atos website(s).<br>
            </p>
            <p>&nbsp;</p>
            <p>To make sure you find out your way on how to change the settings, here are a few links that may be useful to configure appropriately the different browser you may be using.<br>
            </p>
            <ul>
            <li><a href="http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies" target="_blank">Cookie settings in Internet Explorer</a></li>
            <li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank">Cookie settings in Firefox</a></li>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Cookie settings in Chrome</a></li>
            <li><a href="http://support.apple.com/kb/HT1677" target="_blank">Cookie settings in Safari</a><br>
            </li>
            </ul>
            <p><b>Purpose of the cookies</b><br>
            Please note that these settings are only valid for the pages created and owned by Atos. When we embody link to external websites and that you click on these links you leave our website and therefore the settings and policy applying to our website no longer applies. You should consider the new website cookies policy and settings.<br>
            <br>
            </p>-->
        </div>
    </ion-content>
</ion-view>