<style type="text/css">
  h1 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 160%;
}
p {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

u {
    text-decoration: none;
    border-bottom: 2px solid black;
  }


.score input {
  position:absolute;
  top: -2em;
  clip:rect(0,0,0,0);
}

.score {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  border: 0;
  font-size: 0;
}
.score legend {
  overflow: hidden;
  height: 0;
}
.score label {
  font-size: 32px; font-size: 2rem;
  line-height: 32px; line-height: 2rem;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 1.2em;
  height: 1em;
  overflow: hidden;
  text-indent: 100%;
}
.score label:before {
   content: "☆";
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   text-indent: 0;
   line-height: 1em;
   color: #aaa;
}
.score label:hover:before,
.score label:hover ~ label:before,
.score input:checked ~ label:before {
   content: "★";
   color: #ffbb04;
}
.score label:active {
  position: relative;
  top: 1px;
}

.ratingForm button{
  opacity: 1.0;
}
</style>



<!--..........................................................-THE HTML......................................................-->

<ion-view title="Service">
    <ion-content overflow-scroll="true" padding="true"  class="has-header">

<center>
<p style="padding: 10px; background-color: #1fb5ec;">
        
       <b>  <font color="white" family='Avant Garde' size=6>{{service.title}}</font> </b>  <!--   THIS IS THE HEADER --> 
        
</p>
</center>

        <div>
            <hr>                            
        </div>

<blockquote><h1><u>SUBTITLE</u></h3></blockquote>      <!-- THIS IS FOR ANY SUBTITLES IN THIS SERVICE PAGE -->



<h3 ng-bind-html="service.data"></h3>            <!-- THIS IS THE INFORMATION ABOUT THE SERVICE -->




<!--..........................................................RATING......................................................-->

      <div ng-show="loginService.isLoggedIn()">
        <br>
        <hr>

        <form action="javascript:void(0);" class="list ratingForm">
          <fieldset class="score">
           
            <input type="radio" id="score-5" name="score" value="5"/>
            <label title="5 stars" for="score-5">5 stars</label>
            
            <input type="radio" id="score-4" name="score" value="4"/>
            <label title="4 stars" for="score-4">4 stars</label>
            
            <input type="radio" id="score-3" name="score" value="3"/>
            <label title="3 stars" for="score-3">3 stars</label>
            
            <input type="radio" id="score-2" name="score" value="2"/>
            <label title="2 stars" for="score-2">2 stars</label>
            
            <input type="radio" id="score-1" name="score" value="1"/>
            <label title="1 stars" for="score-1">1 stars</label>
            
          </fieldset>

          <label class="item item-input">
            <textarea placeholder="Comments" rows="8"></textarea>
          </label>

          <button class="button button-block button-positive">Submit</button>

        </form>
      </div>


    </ion-content>
</ion-view>