<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/rC9ejNBcTai5k45EsQjN_bg.jpg) no-repeat center; background-size: cover" class="has-header">
        <!-- <div>
            <p align="center">
                <font color="white" size="5">Notifications</font>
            </p>
        </div>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Alerts</ion-toggle>
        </form>
            <div>
                <hr>
            </div> -->
            <div>
                <p align="center">
                    <font color="white" size="5">Login Details</font>
                </p>
            </div>
            <button id="settings-button8" style="border-radius:50px;" class="button button-stable  button-block">Change Password</button>
  <!--      </form>     -->
        <div>
            <hr>
        </div>
        <div>
            <p align="center">
                <font color="white" size="5">About</font>
            </p>
        </div>
        <button id="settings-button9" style="border-radius:50px;" class="button button-stable  button-block">Version: 1.00</button>
        <a ui-sref="menu.termsOfUse" id="settings-button11" style="border-radius:50px;" class="button button-stable  button-block">Terms Of Use</a>
        <a ui-sref="menu.privacy" id="settings-button12" style="border-radius:50px;" class="button button-stable  button-block">Privacy</a>
    </ion-content>
</ion-view>