<ion-view title="Sign Up">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/iiaXLM5RSP6I9CKPgTr4_362011%2520copy.jpg) no-repeat center;" scroll="false" class="has-header">
        <div style="text-align:center; height:40%;">
            <img src="img/MSPxYUI3QE28CEucZxb6_imageedit_2_5998109843.gif" width="auto" height="100%">
        </div>
        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="email">
                    <input type="email" placeholder="*Name">
                </label>
                <label class="item item-input" name="password">
                    <input type="password" placeholder="*Email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="*Password">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="*Country">
                </label>
            </ion-list>
            <button id="signUp-button7" style="border-radius:50px;" class="button button-stable  button-block icon-left ion-android-checkmark-circle">SUBMIT</button>
        </form>
    </ion-content>
</ion-view>    







