body {
	background-color:#fdfcfc;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.btn-group-vertical.tab {
	width:100%;
}

.btn-group-vertical.tab button {
	font-size:32px;
}