/platforms
/bower_components
/node_modules
/myApp
/plugins
!/.gitignore
!/www
!/tests
!/backend
!/config.xml
/www/lib
/www/README.md
/www/IONIC
/backend/vendor/composer
/backend/vendor/autoload.php
/backend/vendor/lcobucci/jwt/*
!/backend/vendor/lcobucci/jwt/src